.background {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(75px, auto);
  margin: 0;
  width: 750px;
}

.tile {
  border: 1px solid black;
  background-size: contain;
}

.current-map h2 {
  border-bottom: 1px solid rgb(240,240,240);
}

.objects {
  background: rgb(100,100,100);
  padding-top: 5px;
  margin-top: 10px;
}
